
:root {
    --opaque-white: rgba(255, 255, 255, 0.468);
    --my-gradient: linear-gradient(34deg, rgba(162,255,255,0.133) 1%, rgba(235,103,252,0.133) 21%, rgba(253,106,255,0.133) 46%, rgba(154,255,255,0.133) 69%, rgba(126,255,255,0.133) 100%);
    --crystal-purple1: rgba(235,103,252,0.24);
    --crystal-purple2: rgba(253,106,255,0.24);
    --crystal-blue1: rgba(162,255,255,0.24);
    --crystal-blue2: rgba(154,255,255,0.24);
    --crystal-blue3: rgba(126,255,255,0.24);
}

html, body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.waitlist-container{
    width: 100%;
    max-width: 900px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}

.waitlist-wrapper{
    overflow-y: auto;
    scrollbar-width:none;
    width: 100%;
    max-height: 30rem;
    margin: 25% 0;
    margin-left: -15%;
    background: rgba(142,250,245,0);
    /*background: linear-gradient(34deg, rgba(162,255,255,0.133) 1%, rgba(235,103,252,0.133) 21%, rgba(253,106,255,0.133) 46%, rgba(154,255,255,0.133) 69%, rgba(126,255,255,0.133) 100%);            
    backdrop-filter:blur(10px);
    border-radius: .4rem;
    box-shadow: 9px 12px 31px 3px rgba(224, 185, 224, 0.3),inset -8px -5px 25px -5px rgba(186, 151, 189, 0.4),-6px -3px 34px -10px rgba(255, 255, 255, 0.1);*/
}
.waitlist-wrapper::-webkit-scrollbar {
    width: 0; /* Kaydırma çubuğunun genişliğini 0 yaparak gizliyoruz */
    background: transparent; /* Ekstra güvence için */
}
/* STEPS */
.waitlist-container .steps-bar{
    align-items: center;
    justify-content: center;
}
.steps {
    list-style-type: none;
    padding: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px var(--opaque-white), 0 0 12px var(--opaque-white), 0 0 18px var(--opaque-white); /* Neon ışık etkisi için gölge */
    margin: 1rem;
    font-size: 24px;
}

.steps p{
    margin: 2rem auto 1rem auto;
}

.steps p.is-active {
    color: #b434db;
    border-color: #b434db;
    text-shadow: 0 0 6px rgba(180, 52, 219, 0.468), 0 0 12px rgba(180, 52, 219, 0.468), 0 0 18px rgba(180, 52, 219, 0.468); /* Neon ışık etkisi için gölge */
    font-weight: bolder;
}
/* FORM */

.form-wrapper .section{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 0 0 .4rem .4rem;
    opacity: 0;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
}

.form-wrapper .section h3{
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px rgba(120, 120, 120, 0.468), 0 0 12px rgba(120, 120, 120, 0.468), 0 0 18px rgba(120, 120, 120, 0.468);
}

.form-wrapper .section p{
    font-size: 24px;
    margin-top: 70px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 6px rgba(120, 120, 120, 0.468), 0 0 12px rgba(120, 120, 120, 0.468), 0 0 18px rgba(120, 120, 120, 0.468);
}
.form-wrapper .section.is-active{
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.form-wrapper .button{
    padding: 8px 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    margin: 50px auto 50px auto;
    border-radius: .2rem;
    border:none;
    background: linear-gradient(34deg, var(--crystal-blue1) 1%, var(--crystal-purple1) 21%, var(--crystal-purple2) 46%, var(--crystal-blue2) 69%, var(--crystal-blue3) 100%);            
    transition: color 0.5s, box-shadow 0.5s, padding 0.5s, font-size 0.5s; /* Geçiş süresi ekledik */
}
.form-wrapper .button:hover{
    padding: 12px 42px;
    cursor: pointer;
    font-size: 20px !important;
    font-family: 'Open Sans', sans-serif !important;
    margin: 50px auto 50px auto;
    border-radius: .2rem;
    border: none;
    color: #fff;
    background: linear-gradient(34deg, var(--crystal-blue1) 1%, var(--crystal-purple1) 21%, var(--crystal-purple2) 46%, var(--crystal-blue2) 69%, var(--crystal-blue3) 100%);            
    box-shadow: 0 0 5px rgba(162,255,255,0.533), 
                0 0 25px rgba(235,103,252,0.533), 
                0 0 50px rgba(253,106,255,0.533), 
                0 0 100px rgba(154,255,255,0.533);
}
.form-wrapper input[type="submit"]{
    padding: 8px 30px;
    color: #fff;
    border-color: #b434db;
    text-shadow: 0 0 6px rgba(180, 52, 219, 0.468), 0 0 12px rgba(180, 52, 219, 0.468), 0 0 18px rgba(180, 52, 219, 0.468); /* Neon ışık etkisi için gölge */            cursor: pointer;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    margin: 75px auto 30px auto;
    border-radius: .2rem;
    border:none;
    opacity:0.633;
    background: linear-gradient(34deg, var(--crystal-purple1) 1%, var(--crystal-blue1) 21%, var(--crystal-blue3) 46%, var(--crystal-blue2) 69%, var(--crystal-purple2) 100%);            
    transition: color 0.5s, box-shadow 0.5s, opacity 0.5s; /* Geçiş süresi ekledik */
}
.form-wrapper input[type="submit"]:hover{
    padding: 8px 30px;
    cursor: pointer;
    font-size: 16px !important;
    font-family: 'Open Sans', sans-serif !important;
    margin: 75px auto 30px auto;
    border-radius: .2rem;
    border: none;

    color: #fff;
    border-color: #b434db;
    text-shadow: 0 0 6px rgba(180, 52, 219, 0.468), 0 0 12px rgba(180, 52, 219, 0.468), 0 0 18px rgba(180, 52, 219, 0.468); /* Neon ışık etkisi için gölge */            opacity: 1;
    background: linear-gradient(34deg, var(--crystal-purple1) 1%, var(--crystal-blue1) 21%, var(--crystal-blue3) 46%, var(--crystal-blue2) 69%, var(--crystal-purple2) 100%);            
    box-shadow: 0 0 5px rgba(235,103,252,0.533), 
                0 0 25px rgba(162,255,255,0.533), 
                0 0 50px rgba(154,255,255,0.533), 
                0 0 100px rgba(253,106,255,0.533);
}
.form-wrapper h3{
    font-size: 32px;
    font-weight: bold;
    margin: 30px auto 30px auto;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="password"],
.form-wrapper input[type="mail"]{
    display: block;
    padding: 10px;
    margin: 50px auto 10px auto;
    background-color: rgba(241, 241, 241,.2);
    color: rgba(255, 255, 255, 0.8);
    border-radius: .2rem;
    border: none;
    width: 50%;
    outline: none;
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif !important;
}

.form-wrapper input[type="text"]::placeholder,
.form-wrapper input[type="password"]::placeholder,
.form-wrapper input[type="mail"]::placeholder{
    color: rgba(0, 0, 0, 0.5    );
}

.form-wrapper input[type="radio"]{
    display: none;
}

.form-wrapper input[type="radio"] + label{
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}

.form-wrapper input[type="radio"] + label:before{
    content: "✔";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 100%;
    background-color: #3498db;
    color: #fff;
    display: none;
}

.form-wrapper input[type="radio"]:checked + label:before{
    display: block;
}

.form-wrapper input[type="radio"] + label h4{
    margin: 15px;
    color: #ccc;
}

.form-wrapper input[type="radio"]:checked + label{
    border: 1px solid #3498db;
}

.form-wrapper input[type="radio"]:checked + label h4{
    color: #3498db;
}
#bgImg {
    position: fixed;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -100;
    top: 0;
    left: 0;
}
#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;  /* Videonun ekranı doldurmasını sağlar */
    width: 100vw;  /* Viewport'un genişliğine göre ayarlar */
    height: 100vh;  /* Viewport'un yüksekliğine göre ayarlar */
    z-index: -100;
}
.home{
    margin-bottom: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -ms-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.home h3{
    margin: 80px auto 30px auto;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 6px rgba(80, 0, 160, 0.468), 0 0 12px rgba(80, 0, 160, 0.468), 0 0 18px rgba(80, 0, 160, 0.468);
}

.home p{
    font-size: 20px;
    margin: 30px 100px 100px 100px;  
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 6px rgba(120, 120, 120, 0.468), 0 0 12px rgba(120, 120, 120, 0.468), 0 0 18px rgba(120, 120, 120, 0.468);
}
.home .purple{
    color: #a020f0; /* Neon purple */
    text-shadow: 0 0 6px rgba(80, 0, 160, 0.468), 0 0 12px rgba(80, 0, 160, 0.468), 0 0 18px rgba(80, 0, 160, 0.468);
}
.home .blue{
    color: #0ff; /* Neon aqua */
    text-shadow: 0 0 6px rgba(0, 100, 100, 0.468), 0 0 12px rgba(0, 100, 100, 0.468), 0 0 18px rgba(0, 100, 100, 0.468);
}
.home .green{
    color: #00ff00; /* Neon green */
    text-shadow: 0 0 6px rgba(0, 100, 0, 0.468), 0 0 12px rgba(0, 100, 0, 0.468), 0 0 18px rgba(0, 100, 0, 0.468);
}
.home .yellow{
    color: #ffff00; /* Neon yellow */
    text-shadow: 0 0 6px rgba(160, 160, 0, 0.468), 0 0 12px rgba(160, 160, 0, 0.468), 0 0 18px rgba(160, 160, 0, 0.468);
}
.home button{
    padding: 16px 60px;
    color: #fff;
    cursor: pointer;
    font-size: 24px !important;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: .2rem;
    border:none;
    background: linear-gradient(34deg, var(--crystal-blue1) 1%, var(--crystal-purple1) 21%, var(--crystal-purple2) 46%, var(--crystal-blue2) 69%, var(--crystal-blue3) 100%);            
    transition: color 0.5s, box-shadow 0.5s, padding 0.5s, font-size 0.5s; /* Geçiş süresi ekledik */
}
.home button:hover{
    padding: 18px 64px;
    cursor: pointer;
    font-size: 28px !important;
    font-family: 'Open Sans', sans-serif !important;
    border-radius: .2rem;
    border: none;
    color: #fff;
    background: linear-gradient(34deg, var(--crystal-blue1) 1%, var(--crystal-purple1) 21%, var(--crystal-purple2) 46%, var(--crystal-blue2) 69%, var(--crystal-blue3) 100%);            
    box-shadow: 0 0 10px rgba(162,255,255,0.533), 
                0 0 50px rgba(235,103,252,0.533), 
                0 0 100px rgba(253,106,255,0.533), 
                0 0 200px rgba(154,255,255,0.533);
}
.home button:focus{
    outline: none;
}
.mt-10{margin-top:10%;}
/* Mobile Responsive Styles */
@media (max-width: 749px) {
    html, body {
        font-size: 14px;  /* Adjusting base font size for mobile */
    }

    .waitlist-container {
        max-width: 700px;
        width: 100%;
        height: 100px;
        margin: 0;
    }

    .waitlist-wrapper {
        max-width: 600px;
        max-height: 30rem;
        margin: 70% -20px 0 0;
    }

    .home {
        margin-bottom: 100px;
    }

    .home h3, .home p {
        font-size: 1rem;
    }

    .home p {
        margin: 0 50px 20px 50px;
    }
    .home h3 {
        margin-top: 30px;
    }
    .home button {
        font-size: 1.2rem !important;
        padding: 8px 30px;
    }

    .home button:hover {
        font-size: 1.3rem !important;
        padding: 10px 32px;
    }

    .steps {
        font-size: 1.2rem;
    }

    .form-wrapper h3, .form-wrapper p {
        font-size: 1rem;
    }
    .form-wrapper h3 {
        margin-bottom: 0px!important;
    }
    .form-wrapper input[type="text"] {
        font-size: 1rem;
        padding: 8px;
    }
    .button {
        padding: 10px 20px;
        font-size: 1.2rem;
        margin-top: 0px;
    }
}
