@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

.text-center{
    text-align: center!important;
}
.future-roadmap {
    align-items: center;
    justify-content: center;
    display: block;
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0;
    position: relative;
}
@media (max-width: 767px) {
    .future-roadmap {
    padding-top: 100px;
    padding-bottom: 100px;
}
}.future-roadmap .container {
    width: 100%;
    padding: 0 1% 0 1%;
}
.future-roadmap .baseline {
    width: 100vw;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.468);
    margin-top: -8.5px;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.468), 0 0 24px rgba(255, 255, 255, 0.468), 0 0 36px rgba(255, 255, 255, 0.468); /* Neon ışık etkisi için gölge */

}
.future-roadmap .roadmap-main, .future-roadmap .roadmap-sec {
    position: relative;
    height: 30em;
}
.future-roadmap .roadmap-main-slide {
    position: relative;
}
.future-roadmap .roadmap-sec-slide {
    position: relative;
    height: 100%;
    width: auto;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}
.future-roadmap .roadmap-sec-slide .circle-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    position: absolute;
    bottom: 0;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}
.future-roadmap .roadmap-sec-slide .circle-div h6 {
    font-size: 20px;
    margin-bottom: 9px;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}
.future-roadmap .roadmap-sec-slide .circle-div .circle {
    width: 1em;
    height: 1em;
    border-radius: 50%;
}

.future-roadmap .roadmap-sec-slide .content {
    position: absolute;
    bottom: 0;
    left: 8.5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    opacity: 0;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}
.future-roadmap .roadmap-sec-slide .content-wrapper {
    padding: 0 0 112px 0px;
}
.future-roadmap .roadmap-sec-slide .content::before {
    position: absolute;
    left: 8px;
    display: block;
    width: 2px;
    height: 100%;
    background-color: #ffc50c;
    
}
.future-roadmap .roadmap-sec-slide .content h6 {
    font-size: 20px;
}
.future-roadmap .roadmap-sec-slide .content ul li {
    font-size: 14px;
    color: #ada2c3;
    margin: 8px 0;
    text-align:left;
    list-style:none;
}
.future-roadmap .roadmap-sec-slide .content ul li::before {
    content:'⁕';
    font-family: "Font Awesome 5 Pro";
    font-weight: 600;
    margin-right: 5px;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.768), 0 0 12px rgba(255, 255, 255, 0.768), 0 0 18px rgba(255, 255, 255, 0.768); /* Neon ışık etkisi için gölge */
    
}
.future-roadmap .roadmap-sec-slide .content .progress-bar-wrapper {
    width: 100%;
    margin-top: 35px;
}
.future-roadmap .roadmap-sec-slide .content .progress-bar-wrapper-text {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.future-roadmap .roadmap-sec-slide .content .progress-bar-wrapper-actual {
    width: 90%;
    height: 9px;
    background-color: #2b135d;
    border-radius: 20px;
    position: relative;
}
.future-roadmap .roadmap-sec-slide .content .progress-bar-wrapper-actual::before {
    display: block;
    width: 42%;
    height: 5px;
    background-color: #ffcc2d;
    border-radius: 20px;
    position: absolute;
    top: 2px;
    left: 3px;
}
.future-roadmap .roadmap-sec-slide:nth-child(1) .content::before {
    left: 5px;
}
.future-roadmap .roadmap-sec-slide:nth-child(4) .circle-div {
    right: 0;
}
.future-roadmap .roadmap-sec-slide:nth-child(3) .circle-div, .future-roadmap .roadmap-sec-slide:nth-child(2) .circle-div {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.future-roadmap .roadmap-sec-slide:nth-child(2) {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}
.future-roadmap .roadmap-sec-slide.active.swiper-slide-active, .future-roadmap .roadmap-sec-slide:hover.swiper-slide-active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.future-roadmap .roadmap-sec-slide.active:nth-child(2), .future-roadmap .roadmap-sec-slide:hover:nth-child(2) {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
}
.future-roadmap .roadmap-sec-slide.active:nth-child(2) .circle-div, .future-roadmap .roadmap-sec-slide:hover:nth-child(2) .circle-div {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.future-roadmap .roadmap-sec-slide.active:nth-child(3) .circle-div, .future-roadmap .roadmap-sec-slide:hover:nth-child(3) .circle-div {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.future-roadmap .roadmap-sec-slide.active:nth-child(4), .future-roadmap .roadmap-sec-slide:hover:nth-child(4) {
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
}
.future-roadmap .roadmap-sec-slide.active:nth-child(4) .circle-div, .future-roadmap .roadmap-sec-slide:hover:nth-child(4) .circle-div {
    left: 0;
}
.future-roadmap .roadmap-sec-slide.active .circle-div h6, .future-roadmap .roadmap-sec-slide:hover .circle-div h6 {
    opacity: 0;
}
.future-roadmap .roadmap-sec-slide.active .content, .future-roadmap .roadmap-sec-slide:hover .content {
    opacity: 1;
    -webkit-transition-delay: .25s;
    transition-delay: .25s;
}
.future-roadmap .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    outline: 0;
    font-size: 24px;
    color: white;
    margin: 0 10px;
}
.future-roadmap .roadmap-main-arrow {
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background-color: #43218b;
    outline: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0,  -50%);
    transform: translate(0,  -50%);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    -webkit-transition: all .25s ease-out 0s;
    transition: all .25s ease-out 0s;
}
.future-roadmap .roadmap-main-arrow:hover {
    color: #43218b;
    background-color: white;
}
.future-roadmap .roadmap-main-prev {
    left: 10%}
.future-roadmap .roadmap-main-next {
    right: 10%}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .future-roadmap .roadmap-main-prev {
    left: 5%}
.future-roadmap .roadmap-main-next {
    right: 5%}
}@media (max-width: 992px) {
    .future-roadmap .roadmap-main-arrow {
    display: none;
}
}.future-roadmap .roadmap-map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
}
.future-roadmap-area {
    padding-top: 192px;
    padding-bottom: 195px;
    position: relative;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 10;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .future-roadmap-area {
    background-size: cover;
}
}@media (max-width: 767px) {
    .future-roadmap-area {
    background-size: 220% 100%}
}@media only screen and (min-width: 576px) and (max-width: 767px) {
    .future-roadmap-area {
    background-size: cover;
}
}.future-roadmap-area .banefits-color-2 {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: -1;
    width: 100%}
.future-roadmap-area .future-roadmap-thumb {
    position: absolute;
    left: 0;
    bottom: 120px;
    z-index: -1;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .future-roadmap-area .future-roadmap-thumb {
    width: 25%;
    bottom: 0;
}
}@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .future-roadmap-area .future-roadmap-thumb {
    width: 25%}
}@media only screen and (min-width: 768px) and (max-width: 991px) {
    .future-roadmap-area .future-roadmap-thumb {
    width: 26%;
    bottom: 0;
}
}@media (max-width: 767px) {
    .future-roadmap-area .future-roadmap-thumb {
    width: 50%;
    bottom: 0;
}
}@media only screen and (min-width: 576px) and (max-width: 767px) {
    .future-roadmap-area .future-roadmap-thumb {
    width: 26%;
    bottom: 0;
}
}.future-roadmap-area .roadmap-map {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,  -50%);
    transform: translate(-50%,  -50%);
    width: 100%;
    opacity: .1;
    z-index: -1;
}
.future-roadmap-area .section-title {
    padding-bottom: 52px;
}
.future-roadmap-area .future-roadmap-item {
    position: relative;
}
.future-roadmap-area .future-roadmap-item i {
    position: absolute;
    top: 37px;
    right: -20px;
    font-size: 30px;
    color: #fff;
}
@media (max-width: 767px) {
    .future-roadmap-area .future-roadmap-item i {
    right: 0;
}
}.future-roadmap-area .future-roadmap-item span {
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.768), 0 0 12px rgba(255, 255, 255, 0.768), 0 0 18px rgba(255, 255, 255, 0.768); /* Neon ışık etkisi için gölge */
}
.future-roadmap-area .future-roadmap-item .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    padding-top: 55px;
    position: relative;
}
.title{
    font-size:24px;
    color: #fff;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.468), 0 0 12px rgba(255, 255, 255, 0.468), 0 0 18px rgba(255, 255, 255, 0.468); /* Neon ışık etkisi için gölge */
}
.title-left {   
    margin-top: 10%;
    margin-left: 10%; 
    font-size:20px;
    color: #fff;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.468), 0 0 12px rgba(255, 255, 255, 0.468), 0 0 18px rgba(255, 255, 255, 0.468); /* Neon ışık etkisi için gölge */
    text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .future-roadmap-area .future-roadmap-item .title {
    font-size: 22px;
}
}.future-roadmap-area .future-roadmap-item .title::before {
    position: absolute;
    left: 50%;
    top: 20px;
    height: 17px;
    width: 17px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.future-roadmap-area .future-roadmap-item .title::after {
    position: absolute;
    content: '';
    left: 0;
    top: 27px;
    height: 2px;
    width: 112%;
    background: #fff;
    border-radius: 0%}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .future-roadmap-area .future-roadmap-item .title::after {
    width: 100%}
}@media (max-width: 767px) {
    .future-roadmap-area .future-roadmap-item .title::after {
    width: 100%}
}.future-roadmap-area .future-roadmap-item p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    padding: 28px 15px 0;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .future-roadmap-area .future-roadmap-item p {
    padding: 28px 0 0;
    }
}@media only screen and (min-width: 768px) and (max-width: 991px) {
    .future-roadmap-area .future-roadmap-item p {
    padding: 28px 0 0;
    font-size: 15px;
    }
}

/* ################################################################################## */

.flex-aqua{
    color: #0ff; /* Neon aqua */
    text-shadow: 0 0 6px rgba(0, 255, 255, 0.468), 0 0 12px rgba(0, 255, 255, 0.468), 0 0 18px rgba(0, 255, 255, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-purple{
    color: #a020f0; /* Neon purple */
    text-shadow: 0 0 6px rgba(160, 32, 240, 0.468), 0 0 12px rgba(160, 32, 240, 0.468), 0 0 18px rgba(160, 32, 240, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-yellow{
    color: #ffff00; /* Neon yellow */
    text-shadow: 0 0 6px rgba(255, 255, 0, 0.468), 0 0 12px rgba(255, 255, 0, 0.468), 0 0 18px rgba(255, 255, 0, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-green {
    color: #00ff00; /* Neon green */
    text-shadow: 0 0 6px rgba(0, 255, 0, 0.468), 0 0 12px rgba(0, 255, 0, 0.468), 0 0 18px rgba(0, 255, 0, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-bg-aqua{
    background-color: #0ff; /* Neon aqua */
    box-shadow: 0 0 6px rgba(0, 255, 255, 0.468), 0 0 12px rgba(0, 255, 255, 0.468), 0 0 18px rgba(0, 255, 255, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-bg-purple{
    background-color: #a020f0; /* Neon purple */
    box-shadow: 0 0 6px rgba(160, 32, 240, 0.468), 0 0 12px rgba(160, 32, 240, 0.468), 0 0 18px rgba(160, 32, 240, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-bg-yellow{
    background-color: #ffff00; /* Neon yellow */
    box-shadow: 0 0 6px rgba(255, 255, 0, 0.468), 0 0 12px rgba(255, 255, 0, 0.468), 0 0 18px rgba(255, 255, 0, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-bg-green {
    background-color: #00ff00; /* Neon green */
    box-shadow: 0 0 6px rgba(0, 255, 0, 0.468), 0 0 12px rgba(0, 255, 0, 0.468), 0 0 18px rgba(0, 255, 0, 0.468); /* Neon ışık etkisi için gölge */
}
.flex-bg-white {
    background-color: #ffffff; /* Beyaz */
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.468), 
                0 0 12px rgba(255, 255, 255, 0.468), 
                0 0 18px rgba(255, 255, 255, 0.468); /* Neon ışık etkisi için beyaz gölge */
}

@media (max-width: 767px) {
    .title {
        font-size: 20px;
    }
    
    .future-roadmap .swiper-pagination-bullet {
        font-size: 18px;
    }
    
    .future-roadmap .roadmap-sec-slide .circle-div h6 {
        font-size: 16px;
    }
    
    .future-roadmap .roadmap-sec-slide .content h6 {
        font-size: 16px;
    }
    .future-roadmap .roadmap-sec-slide .content ul li {
        font-size: 12px;
    }
    .future-roadmap .roadmap-sec-slide .content .progress-bar-wrapper-text {
        font-size: 12px;
    }
}